doctype html
html(lang="bg")
    head
        meta(charset="utf-8")
        title Професионални преводи
        script(src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    body
        .container
            nav(class="navbar navbar-default")
                div(class="container-fluid")
                    div(class="navbar-header")
                        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                            span(class="sr-only") Toggle navigation
                            span(class="icon-bar")
                            span(class="icon-bar")
                            span(class="icon-bar")
                        a(class="navbar-brand" href="#") LOGO
                    div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                        ul(class="nav navbar-nav")
                            li(class="active")
                                a(href="/") Начало
                            if (currentUser)
                                li
                                    a(href="/my-orders") Моите поръчки
                            li
                                a(href="/contact") Контакти
                        ul(class="nav navbar-nav navbar-right")
                            if (currentUser)
                                li
                                    a(href="/profile") Настойки профил
                                li
                                    a(href="/users/logout") Изход
                            else
                                li
                                    a(href="/users/login") Вход
                                li
                                    a(href="/users/register") Регистрация

            if (globalError)
                h3= globalError

            block main-content