extends ./base

block main-content
    div.landing-bg
        div.landing-bg-inner
        div.landing-bg-inner-overlay
        div.container
            div(class="jumbotron" )
                h2 #{indexStr.header}
                p(class="lead") #{indexStr.subHeader}
                p
                    a(class="btn btn-lg btn-success landing-btn" href="/order"  role="button") #{indexStr.buttonOne}
                    a(class="btn btn-lg btn-success landing-btn" href="/contact"  role="button") #{indexStr.buttonTwo}
    div.container
        div(class="row text-center")
            div(class="col-sm-4")
                h2 Safari bug warning
                p(class="text-danger") As of v9.1.2, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
                p
                    a(class="btn btn-primary" href="#" role="button") View details
            div(class="col-sm-4")
                h2 Heading
                p As of v9.1.2, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
            div(class="col-sm-4")
                h2 Heading
                p As of v9.1.2, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
