extends ./base

block main-content
    div(class="background")
        a(class="btn btn-primary btn-lg" href="/order" role="button") Направи поръчка онлайн
        a(class="btn btn-primary btn-lg" href="/contact" role="button") Контакти
