extends ./base
block main-content
    div
        div#from-language
            select(class="form-control")
                option(value="French") Френски
                option(value="Bulgarian") Български
        div#to-language
        button Choose options
    include price-calculator.jade