extends ./base
block main-content
    h1 Вход за потребители
    form(method="post" action="/users/authenticate")
        label(for="username") Име
        br
        input(type="text" name="username" id="username")
        br
        label(for="password") Парола
        br
        input(type="password" name="password" id="password")
        br
        input(type="submit" value="Влез")