h3 Вашата поръчка
hr
ul(class="order-summary")
    li Брой думи: <strong class="pull-right" id="words-count">#{wordsCount}</strong>
    li Ниво на трудност: <strong class="pull-right" id="quality-level">#{qualityLevel}</strong>
    li Цена на дума: <strong class="pull-right"><strong id="price-per-word">#{pricePerWord}</strong>лв.</strong>
hr
p
    strong Обща цена: <span class="pull-right"><span id="total-price">#{totalPrice}</span>лв.</span>