extends ./base
block main-content
    ul
        li брой думи: <span id="words-count">#{wordsCount || 0}</span>
        li ниво на трудност: <span id="quality-level">#{qualityLevel}</span>
        li цена на дума: <span id="price-per-word">#{pricePerWord}</span>лв
        li Обща цена: <span id="total-price">#{totalPrice}</span>лв