<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src='https://cdn.rawgit.com/naptha/tesseract.js/1.0.10/dist/tesseract.js'></script>

<label class="btn btn-default btn-file">
    Upload file <input type="file" class="hidden" id="fileInput">
</label>

<script>$(document).ready(function () {
        $("#fileInput").on("change", function () {
            var file = this.files[0];
            Tesseract.recognize(file)
                    .progress(function (message) {
                        console.log(message);
                    })
                    .then(function (result) {
                        console.log(result.text);
                    })
                    .catch(function (err) {
                        console.error(err);
                    });
        });
    });</script>