extends ./base
block main-content
    h1 Регистрация на нов потребител
    form(method="post" action="/users/create")
        div(class="form-group")
            label(for="username") Име
            input(type="text" class="form-control" id="username" name="username")
        div(class="form-group")
            label(for="password") Парола
            input(type="password" class="form-control" id="password" name="password")
        div(class="form-group")
            label(for="confirm-password") Повтори паролата
            input(type="confirm-password" class="form-control" id="confirm-password" name="confirm-password")
        div(class="form-group")
            label(for="first-name") Име
            input(type="text" class="form-control" id="first-name" name="first-name")
        div(class="form-group")
            label(for="last-name") Фамилия
            input(type="text" class="form-control" id="last-name" name="last-name")
        input(type="submit" class="btn btn-primary" value="Регистрация")