.footer {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    border-top: 1px solid #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.nav-bg-wrapper {
    background-color: #eeeeee;
/ / margin-bottom : 20 px;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    top: 0;
    right: 0;
    left: 0;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;
}

.navbar-wrapper .navbar {
    width: auto;
}

.navbar-default {
    border-color: transparent;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    color: black;
    border-bottom: 2px solid black;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    border-bottom: 2px solid black;
    color: black;
}

.navbar-default .navbar-brand {
    color: black;
}

/* Main marketing message and buttons */
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

.text-view {
    border: 1px solid black;
    border-radius: 5px;
}

.landing-btn {
    margin: 0 15px;
}

.landing-bg {
    color: white;
    position: relative;
    overflow: hidden;
}

.landing-bg > .container {
    position: relative;
}

.landing-bg-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../images/landing-bg.jpg");
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.landing-bg-inner-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.65;
    background-color: #333333;
}